/Solution$Clothes.class
/Solution$Discountable.class
/Solution$Movable.class
/Solution$Sellable.class
/Solution.class
/Solution1501$Clothes.class
/Solution1501$Discountable.class
/Solution1501$Movable.class
/Solution1501$Sellable.class
/Solution1501.class
/Solution$BigAnimal.class
/Solution$Dragon.class
/Solution$Goose.class
/Solution$SmallAnimal.class
/Solution1502$BigAnimal.class
/Solution1502$Dragon.class
/Solution1502$Goose.class
/Solution1502$SmallAnimal.class
/Solution1502.class
/Solution1517.class
/Solution$A.class
/Solution$B.class
/Solution1526$A.class
/Solution1526$B.class
/Solution1526.class
